/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/sprites
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,300);
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .buffer-left {
  margin-left: 20px;
}

.buffer-right {
  margin-right: 20px;
}

.buffer-top {
  margin-top: 20px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* custom styles */

.ul {
  list-style: none;
}

textarea {
  width: 300px;
  height: 150px;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-warning {
  border-color: #ff2b42 !important;
}

.card {
  max-width: 100%;
}
.card-text, .card-title {
  word-wrap: break-word;
}


body {
  font-family: 'Lato', sans-serif;
  background-color: #D3E5FF;
}

a {
  color: darken(#e7e7e7, 70%);
}

.jumbotron {
  text-align: center;
}

/* Navbar and navigation styles */

.navbar {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.navbar-default {

  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#1372F4;

  .navbar-nav > li > a {
    color: #FFF;
  }

  .navbar-link {
    color: #FFF;
  }

  .navbar-brand {
    color: #FFF;
    letter-spacing: 1.25px;
    font-size: 2.1em;
  }

}

/* Item styles */

.item {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 1.5em;
  .item-title {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
  }
  .item-desc {
    font-size: 1em;
  }
  .time-ago {
    color: darken(#e7e7e7, 50%);
    font-size: 0.55em;
    letter-spacing: 1.25;
  }
  .item-sub-title {
    margin-bottom: 0;
  }
}

.item:nth-child(n+1) {
  padding-top: 1.5em;
}

.bottom_cta {
  text-align: center;
  padding: 7.5rem 0;
  h2 {
    color: #2B2E2E;
    font-size: 3rem;
    margin: 0;
  }
  p {
      font-size: 1.25rem;
      margin: 0 0 2.5rem 0;
      color: #a7a8a8;
    }
}

.testimonial {
  text-align: center;
  font-size: 1.5rem;
  color: #afb0b0;
  padding: 3.5rem 0;
  .quote {
    margin: 0 0 .5rem 0;
  }
  .name {
    color: #2B2E2E;
    margin: 0;
    font-size: .85rem;
  }
}



.footer {
  background: #2B2E2E;
  width: 100%;
  padding: 2rem 0;
  color: #FFF;
  text-align: center;
  p {
    margin: 0;
    font-size: .85rem;
  }
}

button, .button {
  border: none;
  outline: none;
  background: rgb(79, 217, 210);
  padding: 1rem 3.5rem;
  border-radius: 0.1rem;
  color: #FFF;

}

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 15em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}